:root {
    --primaryColor: #525AF2;
    --secondaryColor: #F2F2F2;
    --bgMenuActive: #797FF2;
    --bgButton: #A2A6F2;
    --logoImageUrl: url('https://devstore.academy/images/favicon.png');
    --bgAside: var(--primaryColor);
}
