@model int

<div style="padding-right: 15px">
    <a asp-controller="Carrinho" asp-action="Index" class="widget-header">
        <div class="icon icon-sm rounded-circle border"><i class="fa fa-shopping-cart"></i></div>
        <span class="badge badge-pill badge-danger notify">@Model</span>
    </a>
</div>