<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@ViewData["Title"] - devStore Project</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/fonts/fontawesome/css/all.min.css" type="text/css" rel="stylesheet">
    <link href="~/css/ui.css" rel="stylesheet" type="text/css" />
    <link href="~/css/responsive.css" rel="stylesheet" />

</head>
<body>

    <header class="section-header">
        <section class="header-main border-bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-4">
                        <a asp-action="Index" asp-controller="Catalog" class="brand-wrap">
                            <img alt="Dev Store Enterprise" class="logo" src="~/images/logo.png">
                        </a>
                    </div>
                    <div class="col-lg-5 col-sm-12">
                        <form method="get" asp-controller="Catalog" asp-action="Index" class="search">
                            <div class="input-group w-100">
                                <input type="text" id="q" name="q" class="form-control" value="@ViewBag.Search" placeholder="What you are looking for?">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-4">
                        <div class="d-flex justify-content-end">
                            <partial name="_LoginPartial" />
                        </div>
                    </div>
                </div>
            </div>
        </section>



    </header>
    <div style="min-height: 625px;">
        @RenderBody()
    </div>

    <footer class="section-footer border-top">
        <div class="container">
            <section class="footer-top padding-y">
                <div class="row">
                    <aside class="col-md-4">
                        <article class="mr-3">
                            <img src="~/images/logo.png" class="logo-footer">
                            <p class="mt-3">A complete Microservices project based in .NET and best practices.</p>
                            <div>
                                <a class="btn btn-icon btn-light" title="Facebook" target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-icon btn-light" title="Instagram" target="_blank" href="#"><i class="fab fa-instagram"></i></a>
                                <a class="btn btn-icon btn-light" title="Youtube" target="_blank" href="#"><i class="fab fa-youtube"></i></a>
                                <a class="btn btn-icon btn-light" title="Twitter" target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                            </div>
                        </article>
                    </aside>
                    <aside class="col-sm-4 col-md-3">
                        <h6 class="title">Sobre</h6>
                        <ul class="list-unstyled">
                            <li> <a href="#">About us</a></li>
                            <li> <a href="#">Services</a></li>
                            <li> <a href="#">Terms of use</a></li>
                            <li> <a href="#">FAQ</a></li>
                        </ul>
                    </aside>
                    <aside class="col-sm-4 col-md-3">
                        <h6 class="title">Services</h6>
                        <ul class="list-unstyled">
                            <li> <a asp-controller="Order" asp-action="MyOrders">My Orders</a></li>
                            <li> <a href="#">Profile</a></li>
                            <li> <a href="#">Canceled orders</a></li>
                            <li> <a href="#">Chargeback</a></li>
                        </ul>
                    </aside>
                    <aside class="col-sm-2  col-md-2">
                        <h6 class="title">Mobile</h6>
                        <a href="#" class="d-block mb-2"><img src="~/images/misc/appstore.png" height="40"></a>
                        <a href="#" class="d-block mb-2"><img src="~/images/misc/playmarket.png" height="40"></a>
                    </aside>
                </div>
            </section>

            <section class="footer-copyright border-top">
                <p class="float-left text-muted"> devStore Project</p>
                <p class="float-right text-muted">
                    Fully developed and supported by -
                    <a target="_blank" href="https://desenvolvedor.io">desenvolvedor.io</a>
                </p>
            </section>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="~/js/script.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/js/site.js" type="text/javascript" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
